@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&display=swap');

* {
    background-color: 1f1f1f;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #525252;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}

h1.lang-en {
    color: #AC3B61;
    font-size: 32px;
    margin: 3vh 0;
}

h1.lang-pt {
    color: #C86B85;
    font-size: 32px;
    margin: 3vh 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}




/* heading & logo */

#barro-header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    margin-top: 2%;
}

#barro-header-container h1 {
    font-family: comfortaa, sans-serif;
    font-size: 60px;
    font-weight: 800;
}

#barro-header-container ul {
    display: flex;
    gap: 2rem;
}

#barro-header-container a {
    text-decoration: none;
}

#barro-logo {
    color: #AC3B61;
    font-size: 50px;
    letter-spacing: 2px;
}

#barro-nav-menu li {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: inline;
}

#barro-nav-menu a {
    color: #AC3B61;
    text-decoration: none;
}

#barro-nav-menu a:hover {
    border-bottom: 1px solid #AC3B61;
}



/* HERO IMAGE*/

#hero-image {
    display: flex;
    justify-content: center;
    margin: 4vh 0;
}

#hero-image img {
    max-width: 80%;
}




/* about barro */

#about-barro-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 5vh auto;
    align-items: center;
    line-height: 32px;
    margin-bottom: 70px;
}

@media (min-width: 1024px) {
    #about-barro>#about-barro-container {
        flex-direction: row;
    }
}

/* homepage ends here */









/* studio section starts here */

#parallax {
    background-image: url(../images/studio.jpg);
    background-color: #FFF5EE;
    min-height: 800px;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem 0;
}


.studio-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 20vw;
    align-items: center;
    line-height: 32px;
}

/* studio section ends here */




/*COURSES AND WORKSHOPS SECTION*/

#courses-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#pottery-quote {
    background-color: #E8DED2;
    display: flex;
    flex-direction: column;;
    align-items: center;
    margin: 7vh 0;
    padding: 50px;
}

p.quote-en {
    color: #AC3B61;
    font-size: 22px;
    margin: 2vh 0;
}

p.quote-pt {
    color: #C86B85;
    font-size: 22px;
    margin: 2v 0;
}

p.quote-author {
    color: #525252;
    font-size: 14px;
    margin: 2vh 0;
}

.essential-techniques-container,
.potters-wheel-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%;
    overflow: hidden;
}

.handmade-tile-container,
.raku-technique-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5rem;
    width: 100%;
    overflow: hidden;
}

.essential-techniques-text,
.potters-wheel-text,
.handmade-tile-text,
.raku-technique-text {
    width: 50%;
}

.essential-techniques-image,
.make-tile-image,
.short-course-image,
.raku-technique-image {
    width: 50%;
}

.essential-techniques-image img,
.make-tile-image img,
.short-course-image img,
.raku-technique-image img {
    width: 100%;
    height: auto;
}


.timetable-container h2,
table {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* CONTACTS SECTION*/

.contacts-container {
    display: flex;
    align-items: center;
}

.contacts-text {
    flex-direction: column;
    text-align: justify;
    margin: 0 auto;
    line-height: 32px;
}

.contacts-map {
    flex-direction: column;
    margin: 0 auto;
}































/* footer */

footer {
    height: 60px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline-flex;
}

.social-networks i {
    color: #a6607c;
    font-size: 150%;
    margin: 0 auto;
    padding: 50px;
}


/* media queries */

@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }
}

@media (max-width: 400px) {

    #studio-text {
        margin: 0 7vw;
    }
}

/*parallax media queries*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}