@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&display=swap');

* {
    background-color: 1f1f1f;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #525252;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
    line-height: 32px;
}


h1.lang-en {
    color: #AC3B61;
    font-size: 32px;
    margin: 3vh 0;
}

h1.lang-pt {
    color: #C86B85;
    font-size: 32px;
    margin: 3vh 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}



/* heading & logo */

#barro-header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    margin-top: 3%;
}

#barro-header-container h1 {
    font-family: comfortaa, sans-serif;
    font-size: 60px;
    font-weight: 800;
}

#barro-header-container a {
    text-decoration: none;
}

#barro-logo {
    margin-top: 20px;
    color: #AC3B61;
    font-size: 50px;
    letter-spacing: 2px;
}

nav{
  float: left;
  width: 100%;
  margin-top: 30px;
}

#barro-header-container ul {
    display: flex;
    flex-wrap: wrap;
}

#barro-nav-menu li {
    display: inline;
    float: left;
    width: 50%;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

#barro-nav-menu a {
    color: #AC3B61;
    text-decoration: none;
}

#barro-nav-menu a:hover {
    border-bottom: 1px solid #AC3B61;
}

@media screen and (min-width: 1025px) {


  #barro-header-container {
      flex-wrap: no-wrap;
      justify-content: space-between;
  }

  #barro-logo {
    margin-top: 0;
  }

  nav{
    float: right;
    width: auto;
    margin-top: 0;
  }

  #barro-header-container ul {
      display: block;
  }

  #barro-nav-menu li {
      width: auto;
      padding-left: 20px;
      font-size: 18px;
      line-height: 22px;
  }


}



/* hero image*/

#hero-image {
    display: flex;
    justify-content: center;
    margin: 4vh 0;
    opacity: 0.9;
}

#hero-image img {
    max-width: 80%;
    filter: sepia(10%) brightness(95%);
}


/* about section*/

#about-barro-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 5vh auto;
    align-items: center;
    line-height: 32px;
    margin-bottom: 70px;
}

@media (min-width: 1024px) {
    #about-barro>#about-barro-container {
        flex-direction: row;
    }
}


/* studio section */

#parallax {
    background-image: url(../images/pottery-studio.webp);
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 600px;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
    background-blend-mode: overlay;
    filter: sepia(30%);
}

.studio-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 10vw;
    align-items: center;
    line-height: 32px;
}

.studio-text p {
    color: #ffff;
}

@media screen and (min-width: 1025px) {
  .studio-text {
      margin: 0 20vw;
  }
}


/*courses section*/

#courses-section-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#all-courses h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    font-size: 40px;
}

.essential-techniques-container,
.handmade-tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1.5%;
}

.potters-wheel-container,
.pottery-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



@media screen and (min-width: 769px) {
  .essential-techniques-container,
  .handmade-tile-container {
      flex-direction: row;
      gap: 5rem;
  }

  .potters-wheel-container,
  .pottery-project-container {
      flex-direction: row-reverse;
      gap: 5rem;
  }

  .essential-techniques-text,
  .potters-wheel-text,
  .handmade-tile-text,
  .pottery-project-text {
      width: 50%;
  }

  .essential-techniques-image,
  .handmade-tile-image,
  .potters-wheel-image,
  .pottery-project-image {
      width: 50%;
  }
}


.essential-techniques-image img,
.pottery-project-image img {
    width: 100%;
    height: auto;
    filter: sepia(10%) brightness(85%);
}

.potters-wheel-image img,
.handmade-tile-image img {
    width: 100%;
    height: auto;
    filter: sepia(25%) brightness(80%);
}

h2.lang-en {
    font-size: 24px;
    color: #AC3B61;
    margin: 3vh 0;
}

h2.lang-pt {
    font-size: 24px;
    color: #C86B85;
    margin: 2vh 0;
}

#all-courses p {
    font-size: 17px;
    line-height: 30px;
}


.timetable-container,
.other-info-container,
h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-spacing: 8px;
    border-collapse: separate;
    text-indent: initial;

}


/*Responsive Tables*/
table {
    align-items: center;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 4vh 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    /*background-color: #f4f0ec;*/
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
}

table td {
    font-size: .80em;
    letter-spacing: .1em;
}















/*Contact Section*/



#contact-section-wrapper {
    background-color: #ECECEC;
    flex-direction: column;
    align-items: center;
}

h1.telephone-sound {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 38px;
    margin: 3vh 0;
    color: #AC3B61;
}




.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image {
    width: 100%;
}

.contact-image img {
    width: 100%;
    height: 100%;
}

/*Form*/

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 5%;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: .6em;
    width: 100%;
}

.label-top {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 48%;
    min-width: 200px;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 100px;
}

input, textarea, select, form>button {
    color: #525252;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    background-color: #F5F5F5;
    border: 1px solid;
    border-color: #F5F5F5;
    border-radius: 3px;
    padding: .5em;
    
}

form>button {
    background-color:#616161;
    color:#F5F5F5;
    padding: .9em;
    font-size: 1em;
}

form>button:hover {
    background-color:#AC3B61;
    color:#F5F5F5;
    cursor: pointer;
    border:#AC3B61;
}









/*Responsive Iframe*/

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}










/* Footer */

.footer-container {
    text-align: center;
    background-color:#525252;
    color: #ffff;
    padding: 1vh;
}

.social-networks li {
    display: inline-flex;
    position: relative;
    padding: 0.5vh;
}

.social-networks i {
    color: #ffff;
    font-size: 30px;
    letter-spacing: 0.5;
    margin: 0 auto;
    padding: 15px;
}

.social-networks i:hover {
    color: #C86B85;
}

.copyrights {
    font-size: 10px;
    letter-spacing: 0.1em;
    padding: 0.5vh;
}
.copyrights a {
    text-decoration: none;
    color: #ffff;
}

.copyrights a:hover {
    border-bottom: 1px solid #ffff;
}




/* responsive media queries */


/*about section*/

@media (min-width: 1024px) {
    #about-barro>#about-barro-container {
        flex-direction: row;
    }
}



/*studio section*/

@media (max-width: 400px) {

    #studio-text {
        margin: 0 7vw;
    }
}

@media screen and (max-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}




/* Courses Section*/

/*Responsive Tables*/

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    table td:last-child {
        border-bottom: 0;
    }
}





@media screen and (max-width: 320px) {}


@media screen and (min-width: 481px) {}


@media screen and (min-width: 769px) {}


@media screen and (min-width: 1025px) {}


@media screen and (min-width: 1201px) {}










@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }
}